
* {
margin:0;
padding: 0;
}

body {
width:100vw;
height: 100vh;
background: black;
font-size: 50px;
}

.container{
background: #dcdcdc;
width: 100vw;
height: 100vh;

display: grid;
grid-template-areas: "l r"
                     "f f";
grid-template-columns: 1fr 1fr;
grid-template-rows: 4fr 1fr;

}

.nav-left{
background: #f00;
grid-area: l;
}

.nav-right{
    background: #0f0;
    grid-area: r;
}

.footer{
    background: #00f;
    grid-area: f;
}

@media only screen and (max-width:820px) {
    .container{
        grid-template-areas: "r" "l" "f";
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:480px) {
    .nav-left{
        display: none;
    }
    .container{
        grid-template-areas:"r" "f";
    }
}
